.product-image {
  height: 350px;
  width: 230px;
}

.product-images {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.product-information {
  display: flex;
  flex-direction: column;
}