.product-image-container {
  height: 350px;
  width: 230px;
}

.product-images {
  min-width: 230px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.product-information {
  display: flex;
  flex-direction: column;
}

#product-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.product-modal-image-container {
  height: 100%;
  width: 100%;
}

.marg-up {
  margin: 10% auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
  font-size: 36px;
}
