.product-image {
  height: 350px;
  width: 230px;
}

.product-images {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.product-information {
  display: flex;
  flex-direction: column;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 50%;
  max-height: 80%;
}

.close {
  color: white;
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}