.product {
  //width: 300px;
  padding: 15px;
  border: 1px var(--bs-primary) solid;
  border-radius: 10px;
  box-shadow: 2px 2px 2px var(--bs-primary);
  width: 100%;

  @media (min-width: 500px) {
    width: 45%;
  }
  @media (min-width: 1000px) {
    width: 30%;
  }
  @media (min-width: 1700px) {
    width: 23%;
  }
}

.product-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.product-image {
    //height: 350px;
    width: 100%;
    aspect-ratio: 10/15;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid;
}