.product {
  width: 300px;
  padding: 15px;
  border: 1px var(--bs-primary) solid;
  border-radius: 10px;
  box-shadow: 2px 2px 2px var(--bs-primary);
}

.product-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.product-image {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid;
}