.modal {
    display: block;
    position: absolute;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    left: 0;
    top: 0;
    transition: z-index 0.31s linear, background-color 0.31s linear;
}

.hidden {
    display: none;
}

.wrapper-modal {
    transform: translateY(-15.5%);
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% auto;
    max-width: 550px;
    height: 100%;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.modal-header {
    width: 100%;
}

.header-bg-color {
    background-color: rgba(var(--bs-primary-rgb), 0.1);
}

.modal-title {
    width: 100%;
    text-align: center;
    padding: 3%;
    justify-content: center;
    font-weight: 600;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form-item {
    margin: 5% 0;
}

.btn-modal-container {
    height: 70px;
    margin-top: 5%;
    position: relative;
    width: 100%;
}

.btn-modal {
    width: 100%;
    position: absolute;
}

.btn-link {
    cursor: pointer;
}


#input-login-password {
    position: relative;
    z-index: 1;
}

.password-icon-container {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    overflow: hidden;
    cursor: pointer;
    z-index: 5;
}

.password {
    position: relative;
}