.btn-align {
    justify-content: center;
    gap: 7%
}

.user-btns {
    width: 120px;
}

.btn-icon {
    padding: 0.1rem 0.45rem;
    cursor: pointer;
    color: #636363;
}

.title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}