<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://localhost:8080/main">MainLogo</a>
    <form class="d-flex my-d-flex">
      <button id="login-btn" class="btn btn-secondary" type="button">
        <i class="fas fa-user-lock"></i><span class="my-btn-link"> Log in</span></button>
      <button id="registration-btn" class="btn btn-secondary" type="button">
        <i class="fas fa-user-plus"> Register</i></button>
    </form>
  </div>
</nav>