<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      <img src="../../assets/icons/book-shelf.svg" width="50px" height="50px" alt="Logo">
      S<i>t</i>ories Shelf
    </a>
    <form class="d-flex my-d-flex">
      <button id="login-btn" class="btn btn-secondary" type="button">
        <i class="fas fa-user-lock"></i><span class="my-btn-link"> Log in</span></button>
      <button id="registration-btn" class="btn btn-secondary" type="button">
        <i class="fas fa-user-plus"> Register</i></button>
    </form>
  </div>
</nav>