.catalog-image {
  width: 20%;
  background: url("../../assets/images/book-catalog.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.catalog-page-container {
  width: 80%;
}

.catalog-container {
  width: 100%;
  gap: 20px;
}