.catalog-image {
  width: 20%;
  height: 100vh;
  position: sticky;
  top: 0;
  background: url("../../assets/images/book-catalog.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.catalog-container {
  justify-content: space-evenly;
  width: 100%;
  gap: 20px;
}