<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Genre
    </button>
    <form class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <div class="mb-3">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dropdownCheckFantasy" name="fantasy">
                <label class="form-check-label" for="dropdownCheckFantasy">
                    Fantasy
                </label>
            </div>
        </div>
        <div class="mb-3">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dropdownCheckClassics" name="classic">
                <label class="form-check-label" for="dropdownCheckClassics">
                    Classics
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Apply</button>
    </form>
</div>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-expanded="false">
        Author
    </button>
    <form class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
        <div class="mb-3">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dropdownCheck">
                <label class="form-check-label" for="dropdownCheck">
                    T
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Apply</button>
    </form>
</div>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
        Price
    </button>
    <form class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
        <button type="submit" class="btn btn-primary">Apply</button>
    </form>
</div>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
        Language
    </button>
    <form class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
        <div class="mb-3">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dropdownEn">
                <label class="form-check-label" for="dropdownEn">English</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dropdownBel">
                <label class="form-check-label" for="dropdownBel">Belarusian</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Apply</button>
    </form>
</div>
