<div class="d-flex flex-row column-gap-3">
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Genre
    </button>
    <form class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <div class="mb-3">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dropdownCheckFantasy" name="fantasy">
                <label class="form-check-label" for="dropdownCheckFantasy">
                    Fantasy
                </label>
            </div>
        </div>
        <div class="mb-3">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dropdownCheckClassics" name="classic">
                <label class="form-check-label" for="dropdownCheckClassics">
                    Classics
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Apply</button>
    </form>
</div>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-expanded="false">
        Author
    </button>
    <form class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
        <div class="mb-3">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dropdownCheck" name="Tolkien">
                <label class="form-check-label" for="dropdownCheck">
                    Tolkien
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Apply</button>
    </form>
</div>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
        Price
    </button>
    <form class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
        <label for="customRange" class="form-label"></label>
        <input type="range" class="form-range" min="5" max="50" step="1" id="customRange">
        <button type="submit" class="btn btn-primary">Apply</button>
    </form>
    <form class="multi-range-field my-5 pb-5">
        <input id="multi6" class="multi-range mult6" type="range" />
    </form>
</div>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
        Language
    </button>
    <form class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
        <div class="mb-3">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dropdownEn" name="english">
                <label class="form-check-label" for="dropdownEn">English</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dropdownBel" name="belarusian">
                <label class="form-check-label" for="dropdownBel">Belarusian</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Apply</button>
    </form>
</div>
<button class="btn btn-primary">Reset filters</button>
</div>
<div class="filters-result"></div>
